.container {
    display: grid;
    grid-template-rows: repeat(1fr, 3);
    grid-template-columns: repeat(1fr, 5);
    background-color: green;
}

.center{
    grid-column: span 4;
    grid-row: span 3;
    background-color: red;
}